app = "gsproducao-backend"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  APP_ENV = "production"
  ALLOW_LAN_CORS = "false"
  PORT = "9000"

[http_service]
  internal_port = 9000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

[[vm]]
  size = "shared-cpu-1x"
  memory = "2gb"
